@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Garante que não haverá scroll horizontal */
}

.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: -1000;
}

.side-menu {
    position: fixed;
    top: 0;
    right: -100%; /* Esconde completamente fora da tela */
    width: 20%;
    height: 100%;
    background-color: #333;
    color: white;
    transition: right 0.3s ease-in-out;
    z-index: 999;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu li {
    margin: 20px 0;
}

.side-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.side-menu a:hover {
    text-decoration: underline;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;

}

.side-menu.open {
    right: 0; /* Move o menu para dentro da tela */
}
